<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS equivalent of .htaccess. Ignored by Apache and nginx. -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="database" />
          <add segment="tools" />
          <add segment="tmp" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".py" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
